
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#root {
    height: 100vh;
}

.detailContainer {
    max-width: 800px; /* Set the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    background-color: black; /* Set the background color of the central column */
    border-style: groove;
    border-color: white;
    padding: 20px; /* Add some spacing inside the container */
    height: 100%;
}

.movieDetailHeader {
    display: flex; /* Use flexbox */
    align-items: center; /* Align items vertically in the center */
}

.movieDetailHeader img {
    max-block-size: 200px;
    margin-right: 30px;
}

