.top-ten-title {
    text-decoration: underline;
    margin: 20px;
    text-align: left;
}

.top-ten-grid {
    display: flex;
    margin: 5px;
    align-items: center;
}

.top-ten-grid div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15em;
    height: 15em;
    margin: 5px;
}

.top-ten-grid img {
    width: 100%;
    height: 100%;
}

.img-text {
    box-sizing: content-box;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}