.contact-content {
    background-color: lightblue;
    position: fixed;
    width: 100%;
    height: 90%;
    padding-top: 6vw;
}

.contact-content h1 {
    text-align: center;
    text-decoration: underline;
}

.icon-list {
    text-align: center;
}

.icon-list a {
    margin: 20px;
}

.contact-content img {
    width: 15vw;
    height: 15vw;
}

.contact-content .leave-review-button a {
    background-color: lightskyblue;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}