footer {
    color: black;
    text-align: left;
    padding: 8px;
    text-decoration: underline;
}
.content-list {
    list-style-type: none;
    padding: 0;
}
.content-list a {
    padding: 15px;
    display: inline-block;
    color: blue;
    background: black;
    margin: 8px;
    border-radius: 12px;
}

.content-list a:visited, .content-list a:link {
    color: lightskyblue;
}

.content-list a:hover {
    color: white;
}

@media screen and (min-width: 750px) {
    .content-list {
        display: flex;
    }
}