.movie-grid h2 {
    text-align: center;
    text-decoration: underline;
    color: white;
}

.movie-body {
    min-width: 87vw;
    padding-top: 5vh;
    padding-left: 1vw;
}
.movie-list {
    margin-top: 10px;
    height: 100%;
}
.movie-list ol {
    display: grid;
    align-items: start;
    justify-items: start;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    min-width: 88vw;
}
.movie-list ol li {
    padding: 2px;
    overflow: auto;
    color: white;
}

.movie img {
    width: 11vw;
    height: 17vw;
    /*cursor: pointer;*/
}

.pageControls {
    display: flex;
    align-items: center;
    position: absolute;
    left: 50%;
}

.pageControls .pageNumber {
    margin: 5px;
}

@media (max-width: 767px) {
    .navigation {
        left: -60px;
    }
    .movie-list ol {
        column-count: 1;
    }
}