.nav-bar {
  display: flex;
  justify-content: left;
  padding-left: 20px;
  align-items: center;
  border: 1px solid black;
  background: darkslategray;
  border-radius: 7px;
}

.logo {
  font-family: 'Bangers', cursive;
  text-decoration: underline;
  color: white;
}

.nav-bar-subscript {
  display: flex;
  margin-left: 20px;
  padding: 8px;
  column-gap: 10px;
}

.nav-bar-subscript a {
  background: rgb(2, 27, 27);
  color: white;
  border-radius: 20px;
  border: 1px solid black;
  text-decoration: none;
  padding: 8px;
}

.nav-bar-subscript a:hover {
  background: lightgrey;
  color: black;
}
